html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Configuration with Vue
  body
    div#app
    if process.env.NODE_ENV == 'development'
      script(src="http://localhost:8080/dist/build.js")
    else
      script(src="/dist/build.js")
